<mat-sidenav-container class="shell">
  <mat-sidenav
    class="shell__sidenav"
    mode="over"
    [opened]="sidenavOpened()"
    (openedChange)="onSidenavOpenedChange($event)"
  >
    <div class="shell__brand">
      <img class="shell__logo" src="/logo_negro.png" alt="Construcciones El Tigre" />
    </div>

    <mat-nav-list class="shell__nav-list">
      @for (link of navLinks; track link.path) {
        <a
          class="shell__nav-link"
          mat-list-item
          [routerLink]="link.path"
          routerLinkActive="shell__nav-link--active"
          [routerLinkActiveOptions]="{ exact: link.path === '/' }"
          (click)="closeSidenav()"
        >
          <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
          <span matListItemTitle>{{ link.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="shell__content">
    <mat-toolbar color="primary" class="shell__toolbar">
      <button class="shell__menu-toggle" mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <img class="shell__toolbar-logo" src="/logo.png" alt="Construcciones El Tigre" />
      <span class="shell__toolbar-title">{{ pageTitle() }}</span>
      <span class="shell__spacer"></span>
      @if (displayName()) {
        <span class="shell__user">Hola, {{ displayName() }}</span>
      }
      <button class="shell__logout" mat-button (click)="logout()">Cerrar sesión</button>
    </mat-toolbar>

    <main class="shell__page">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
